*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    background-color: #fff;
    height: 100%;
}
.button{
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border-radius: 5px ;
  border: none;
}
nav{
    width: 90%;
    max-width: 1280px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}nav .logo img{
    width: 180px;
}
.links{
    display: flex;
    align-items: center;
    gap: 25px;
}
.links a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: poppins;
    font-size: 18px;
}

.hero{
    background-color: #F4F6F5;
    width: 90%;
    margin:  0 auto;
    position: relative;
    border-radius: 10px;
    display: flex;
    max-width: 1280px;
}
.hero_left{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.hero_right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60%;
}
.hero_right img{
    width: 600px;
    object-fit: cover;
}
/* .rotate{
    transform: rotate(-90deg);
} */
.hero_left h1{
    font-family: poppins;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.4;
}
.hero_left p{
    font-size:18px ;
}
.hero_content button{
    font-size: 18px;
    margin-top: 20px;
}
.star{
    position: absolute;
   
    width: 40px;
    height: 40px;
}